.toolbar {
    position: fixed;
    box-shadow: 0 1px 3px rgba(7, 7, 7, 0.08);
    background-color: #fff;
    text-align: right;
    padding: 6px;
}
.toolbar:hover {
    color: rgba(0, 170, 255, 1);
}

/*
.menu{
  float: right;
  padding: 8px;
}
.menu:hover{
    background-color:rgba(0, 0, 0, .1);
    cursor: pointer;
}
.menu div {
    width: 12px;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
    margin: 2px;
}*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
